*.o
*.obj
*.elf
*.hex
*.eep
*.lss
*.map
*.sym

*.d

*.gch
*.pch

*.a
*.lib
*.lai
*.la

*.so
*.dylib
*.dll

*.exe
*.out
*.app

*.ilk

*.pdb

*.dwo


*.lst
*.srec
*.bin

.vscode/
*.code-workspace


.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
Desktop.ini



build/
bin/
obj/

*.log
*.tmp
*.bak
*.backup


FreeRTOS-Kernel-11.1.0/

.pio/